{% extends "master.html" %}
{% load static %}
{% block title %} Home Of  Upcoming Artists{% endblock %}
{% block heading %} Homepage {% endblock %} 
{% block content %}
<section class="center-elements-y welcome-container">
  <h1 class="heading font-xl">Record and Share Your Music Online</h1>
  <h1>on our</h1>
  <h1 class="font-xl heading"> upcoming ai tool</h1>
  <span class="center-text">Upcoming is the app where you can record your songs and get feedback on their quality. Our platform is designed to help aspiring musicians improve their skills and get discovered by a wider audience.</span><br>
</section>
<section class="col-2 description-container">
  <div class="center-elements-y">
    <img src="" alt="Musician recording a song" class="demo-img">
  </div>
  <div class="center-elements-y pb-5">
   <h2 class="heading  header-left">How It Works</h2>
    <span>Simply sign up for an account, record your song, and upload it to our platform. Our innovative AI technology will analyze your song and provide you with feedback on various aspects of its quality, including melody, harmony, rhythm, and lyrics.</span><br>
    <a href="/register" class="btn btn-bg">Sign Up Now</a>
  </div>
</section>
<section class="col-2 description-container">
  <div class="center-elements-y pb-5">
    <h2 class="heading  header-left">Record Your Songs Online</h2>
    <span>With Upcoming, you can record your songs using our easy-to-use online recording tool. Our platform also allows you to edit and enhance your recordings, so you can create the perfect track.</span><br>
    <a href="/record" class="btn btn-border">Start Recording Now</a>
  </div>
  <div class="center-elements-y">
    <img src="" alt="Person recording music online" class="demo-img">
  </div>
</section>
<section class="col-2 description-container">
  <div class="center-elements-y">
    <img src="" alt="Person listening to music online" class="demo-img">
  </div>
  <div class="center-elements-y pb-5">
    <h2 class="heading header-left">Discover New Music</h2>
    <span>Browse through our collection of songs and discover new artists. Our platform allows you to listen to songs, leave feedback, and connect with other musicians.</span><br>
    <a href="/music" class="btn btn-border">Start Exploring Now</a>
  </div>
</section>
<section class="col-2 description-container">
  <div class="center-elements-y pb-5">
    <h2 class="heading header-left">Create an Account</h2>
    <span>To get started with Upcoming, Login to your account today. With an account, you can record and upload your songs, listen to other artists, and connect with the music community.</span><br>
    <a href="/accounts/login/" class="btn btn-bg">Sign in to Your Account Now</a>
  </div>
  <div class="center-elements-y">
    <img src="" alt="Person creating an account on Upcoming" class="demo-img">
  </div>
</section>
{% endblock %}
{% block static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock static %}