{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <script>
      (function() {
        const prefersDarkTheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const savedTheme = localStorage.getItem('theme');
        const root = document.documentElement;
        const initialTheme = savedTheme || (prefersDarkTheme ? 'dark' : 'light');
        root.setAttribute('data-theme', initialTheme);
        const rootCSSFile = initialTheme === 'dark' ? 'root-dark.css' : 'root-light.css';
        loadCSS(rootCSSFile);
  
        function loadCSS(filename) {
          const link = document.createElement('link');
          link.href = `/static/css/${filename}`;  // Modify the path to the CSS file
          link.rel = 'stylesheet';
          link.type = 'text/css';
          document.head.appendChild(link);
        }
      })();
    </script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script src="{% static 'js/master.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700" />
    <title>{% block title %}{% endblock %}</title>
    {% block static %}{% endblock static %}
</head>
<body>
<header>
    <div class="center-elements-x">
        <img class="logo" src="{% static 'img/logo.png' %}" alt="logo" width="25vw">upc
    </div>
    <div class="center-elements-x">
        <h1 class="heading"> {% block heading %}{% endblock %} </h1>
    </div>
    <nav class="nav-bar">
      <ul class="nav-list">
            <li><a {% if active_page == 'main' %} class="active"{% endif %} href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a {% if active_page == 'record' %} class="active"{% endif %} href="/record/"><i class="fas fa-microphone"></i> Record</a></li>
            <li><a {% if active_page == 'beats' %} class="active"{% endif %} href="/beats/"><i class="fas fa-drum-steelpan"></i> Beats</a></li>
            <li><a {% if active_page == 'music' %} class="active"{% endif %} href="/music/"><i class="fas fa-music"></i> Music</a></li>
            <li><a {% if active_page == 'about' %} class="active"{% endif %} href="/about/"><i class="fas fa-info-circle"></i> About</a></li>
      </ul>  
      <div class="nav-buttons">
        <button title="change theme" id="theme-toggle" class="theme-button icon-btn">
          <i class="fas fa-adjust"></i>
        </button>
        <button class="account-btn icon-btn">
          <img src="https://source.unsplash.com/random/400x400/?music" alt="user profile pic">
        </button>
      </div>
    </nav>
    <button class="toggle-navbar-btn" id="toggle-navbar-btn"> <i class="fas fa-bars"></i></button> 
</header>
<main>
    {% block content %}
    {% comment %} main page content goes here {% endcomment %}
    {% endblock %}
</main> 
<footer>
    <div class="social-links center-elements-x">
      <h5>upcoming</h5>
      <div>
          <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="website-links">
      <div>
        <h6 class="heading">Developers</h6>
        <nav>
        <ul class="nav-list">
          <li><a href="#">API Documentation</a></li>
          <li><a href="#">Developer Blog</a></li>
          <li><a href="#">Developer Tools</a></li>
        </ul>
        </nav>
      </div>
      <div>
        <h6 class="heading">Explore</h6>
        <nav>
          <ul class="nav-list">
            <li><a href="/record">Record a Song</a></li>
            <li><a href="/music">Discover Music</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <h6 class="heading">utility pages</h6>
        <nav>
          <ul class="nav-list">
            <li><a href="/developers">Developers Options</a></li>
            <li><a href="/support">Support Team</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <h6 class="heading">Contact Us</h6>
        <nav>
          <ul class="nav-list">
            <li><a href="mailto:support@upcoming.com">support@upcoming.com</a></li>
            <li><a href="#">Join the Community</a></li>
            <li><a href="#">Music Technologies</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="copyrights center-elements-y">
      <ul class="nav-list center-elements-y">
        <li>Developed by muztech</li>
        <li>&copy 2023</li>
      </ul>
    </div>
</footer>      
</body>
</html>