.section-1,
.section-2,
.section-3,
.section-4, 
.section-5 {
    height: 70vh;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
section > h2, h1 {
    color: var(--color-secondary);
}

section>h1, h2 {
  color: var(--color-secondary);
}

section a {
  text-decoration: none;
}

section img{
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.356);
  border-radius: 5px;
}

.section-1 {
    width: 100%;
    background: var(--bg-welcome-container);
    height: 100vh;
}
.text-desc {
    padding: 5%;
    color: var(--color-secondary);
    height: 70%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: space-around;
    flex-direction: column;
  }
  
.img-desc {
    height: 90%;
    float: right;
    width: 50%;
  }

iframe {
    border: none;
    width: 100%;
    height: 100%;
}
  
  .btn-bg {
    background-color: var(--color-secondary);
    color: var(--color-opposite);
    text-decoration: underline;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 2px 2px var(--header-shadow);
  }
  
  .btn-border {
    background-color: transparent;
    color: var(--color-secondary);
    padding: 1em;
    border: 3px solid var(--color-secondary);
    border-radius: 5px;
    box-shadow: 1px 2px 2px var(--header-shadow);
  }

  .btn-bg:hover {
      background-color: var(--color-secondary);
  }

  .btn-border:hover {
      border-color: var(--color-secondary);
  }

  .auth-links {
    height: 40%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
/* Styles for screens smaller than 600px */
@media (max-width: 800px) {
  
      .section-1,
      .section-2,
      .section-3,
      .section-4,
      .section-5 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        overflow: hidden;
        margin-bottom: 10vh;
      }

      .section-1,
      .section-3,
      .section-5 {
        flex-direction: column-reverse;
      }

      .section-1 {
        height: 90vh;
      }

      .text-desc {
        width: 100%;
      }

      .img-desc {
        width: 100%;
        overflow: hidden;
      }

      section img {
        width: 90%;
        max-height: 40vh;
      }
}