.welcome-container {
    height: 100vh;
    background: var(--bg-welcome-container);
  }
  
  .welcome-container * {
    margin: auto;
  }
  
  .description-container {
    min-height: 60vh;
  }
  
  .demo-img {
    padding: 0.2em;
    border-radius: 10px;
    box-shadow: 2px 1px 2px var(--header-shadow);
    margin: auto;
    width: 95%;
  }
  
  .col-2 {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .btn-bg {
    background-color: var(--color-secondary);
    color: var(--color-opposite);
    text-decoration: underline;
    padding: 1em;
  }
  
  .btn-border {
    background-color: transparent;
    color: var(--color-secondary);
    padding: 1em;
    border: 3px solid var(--color-secondary);
  }
  
  .header-left {
    float: left;
    width: 100%;
  }
  
  .pb-5 {
    padding-bottom: 5em;
  }
  .pt-5 {
    padding-top: 5em;
  }

  
/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  .col-2 {
    grid-template-columns: 100%;
  }
  
  
}