/* Common styling for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

/* Custom Scroll Bar */
*::-webkit-scrollbar {
    width: 8px;
  }

*::-webkit-scrollbar-thumb {
    background-color: #1e6a74;
    border-radius: 4px;
  }

*::-webkit-scrollbar-thumb:hover {
    background-color: #0b5555;
  }

*::-webkit-scrollbar-track {
    background-color: #ffffff00;
  }

.side-content::-webkit-scrollbar {
    width: 2px;
  }

.side-content::-webkit-scrollbar-thumb {
    background-color: #1e6a74;
    border-radius: 2px;
  }


/* Styling For Page Layout */
body, html {
    height: 100vh;
    overflow: hidden;
        
  }

/* Main Part The Page */
main {
    
  }

/* Side Bar Layout */
.side-content {
    height: 100vh;
    overflow: auto;
    background-color: #242727f8;
    padding-bottom: 10vh;
    display: none;
  }



/* Main Content Layout */
.main-content {
    height: 100vh;
    background-color: #1e2324;
    overflow: auto;
    padding: 0.5em;
  }

/* Lists Styling */
ul {
    list-style-type: none;
  }

li {
    font: normal;
  }

li:hover {
    font: normal; 
  }

/* Buttons Styling */
button:hover {
    scale: 1.1;
    cursor: pointer;
  }

button {
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
  }

button[title]:hover::after {
    content: attr(title);
    position: absolute;
    padding: 4px 8px;
    border-radius: 4px;
    top: 0;
    right: 0;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }

button[title]:hover::after {
    opacity: 1;
  }

/* Texts Styling */
 h1, h2, h3, h4, h5, h6, p, div, em, mark, i, ul, li {
    text-indent: 0.5em;
    color: white;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
  }

li {
    color: wheat;
    font-size: 0.8em;
  }

li div {
    color:oldlace;
  }
  
h1 { 
    font-size: 1.5em;
    color: white;
 }

h2 { 
  font-size: 1.2em;
    color: white;
 }

h3 { 
  font-size: 1em;
  color: white;
 }

 h4 { 
  font-size: 0.9em;
  color: white;
 }
p { font-size: 0.8em; }


/* Links Styling */
a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 230, 0);
  text-decoration: underline;
  cursor: pointer;
}

a:visited { color: white; }

a:active { color: green; }

a:focus { outline: 2px solid orange; }

a:target { background-color: red }

/* Images Styling */
.small-image {
    width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    border: 1px solid rgb(242, 242, 248);
    border-radius: 5px;
    overflow: hidden;
}

.artist-image {
  display: block;
  width: 80%;
  height: 50%;
  margin: auto;
  border-radius: 50%;
  border: 1px solid rgb(246, 246, 255);
}

.account-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* cards Styling */
.card-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.card {
  max-width: 300px;
  min-width: 150px;
  flex: 0 1 300px;
  margin: 10px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.329);
}