/* Custom scroll Bar */
::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background: var(--scroll-bar-bg); }
  
::-webkit-scrollbar-thumb { background: var(--scroll-bar-thumb); border-radius: 4px; }

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--page-font-family);
  color: var(--color-primary);
}

/* Global styles for all elements */
body, html {
  background-color: var(--page-bg-color);
}

.center-elements-x {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.center-elements-y {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-list {
  list-style-type: none;
}

.active {
  color: var(--active-link-color);
}

.active i {
  color: var(--active-link-color);
}

.fill-parent {
    width: 100%;
    height: 100%;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.4s ease-in-out;
}
a i {
  color: var(--link-color);
  transition: color 0.4s ease-in-out;
}
a:hover i {
  color: var(--active-link-color);
}
a:hover {
  color: var(--active-link-color);
}

h1 {
  font-size: var(--heading-font-size);
}
.heading {
  color: var(--color-secondary);
  font-weight: var(--page-font-weight);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  text-align: center;
  outline: none;
  border-radius: 30px;
  font-weight: 1.5em;
  font-size: var(--btn-font-size);
}

.icon-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: black;
}

.font-xl {
  font-size: var(--large-font-size);
}

.center-self {
  margin: auto;
}

.center-text {
  text-align: center;
}

/* page header */
header {
  background-color: var(--header-bg-color);
  box-shadow: 3px 2px 4px var(--header-shadow);
  backdrop-filter: blur(10px);
  height: var(--header-height);
  width: 100%;
  display: grid;
  grid-template-columns:10% 40% 40% 10%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: height 1s ease-out;
}

.logo {
  background-color: var(--color-secondary);
  border-radius: 25px;
  padding: 2px;
}

header ul > li {
  margin: auto;
}

header a {
  padding: 5px;
}

header a:hover {
  border-bottom: 2px solid var(--active-link-color);
}
  
header.scrolled {
  height: 6vh;
}
  
/* Main content styles */
main {
  width: auto;
  height: fit-content;
  min-height: var(--page-height);
  overflow: auto;
}
main:first-child {
  padding-top: var(--header-height);
}

section {
  padding: 1em;
}

span {
  color: var(--normal-text-color);
  font-size: 1.5em;
  font-weight: 0.8em;
  padding: 0.5em 0;
  margin: auto;
}

section ul {
  padding: 1em;
}

section ul > li {
  margin: 0.5em;
}
h2 {
  font-size: var(--page-heading-font-size);
  border-left: 5px solid var(--color-secondary);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left:  1em;
  background: var(--heading-bg-color);
}

/*Footer  Style */
footer {
  background: var(--footer-bg-color);
  height: var(--footer-height);
  display: grid;
  grid-template-rows: 70% 30%;
}
footer nav {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

footer ul > li {
  margin: 10px;
}

