/* Define variables for font sizes and colors */
:root {
    /*font sizes*/
    --font-size-base: 16px;

    /*page colors*/
    --color-primary: #0a1e24ef;
    --color-secondary: #d3c8c8;
    --color-background: #ffffff;
    --color-text: #333;
    --color-shadow: rgba(214, 199, 199, 0.1);
    --color-footer:rgba(0, 0, 0, 0.767);

    /*page heights*/
    --header-height: 10vh;
    --main-page-height: 110vh;
    --footer-height:10vh;
  }
  


/* Custom scroll Bar */
::-webkit-scrollbar { width: 8px; }
  
::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 4px;
  }
  
::-webkit-scrollbar-thumb:hover { background-color: #0b4c55; }
  
::-webkit-scrollbar-track { background-color: #36333317; }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Reset some default styles */
header > h1, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, sans-serif;
  }
  
/* Set global styles for the page */
body {
    background-color: var(--color-background);
  }
  
/* Header styles */
header {
    background-color: var(--color-primary);
    backdrop-filter: blur(10px);
    color: var(--color-secondary);
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: height 0.3s ease-in-out;
  }
  
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

/* Logo for the site */

div.logo {
    float: left;
    height: fit-content;
    width: fit-content;
    padding: 1em;
  }
    
.logo:hover {
    cursor: pointer;
  }

.logo img{ animation: rotate 3s 3; }
    
.logo p {
    color: var(--logo--txt--color);
    font-family:cursive;
    text-indent: 0.5em;
    padding: 0;
    margin: 0;
    float: right;
  }
    
/* Heading style */
header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    color: var(--heading--txt--color);
    letter-spacing: 2px;
    text-shadow: 0 2px 4px rgba(1, 27, 14, 0.329);
    transition: color 0.3s ease-in-out;
}

/* Heading hover effect */
h1:hover { color: #0b8831; }
  
/* Navigation bar styles */
.navigation-bar {
    top: 0;
    right: 0;
    width: 30%;
    display: flex;
    align-items: center;
  }
  
/* Navigation links styles */
.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
.nav-links li {
    margin-right: 10px;
  }
  
.nav-links a {
    display: block;
    padding: 10px;
    color: #a9d6f5;
    text-decoration: none;
    border: 1px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
  }
  
.nav-links a:hover {
    border-bottom: 1px solid #046d2e;
    color: #06ffb4;
  }
  
/* Reduce header height to 5vh on scroll */
header.scrolled {
    height: 5vh;
  }
  
/* Main content styles */
main {
    width: auto;
    height: fit-content;
    margin: 0;
    margin-top: var(--header-height);
    overflow: auto;
  }

input:focus {
  outline: none;
  outline-color: #333;
}

.error-message {
  color: red;
}
   
/* Style the footer */
footer {
    background-color: #021218;
    color: white;
    height: 50vh;
    display: grid;
    grid-template-rows: 70% 30%;
  }
footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > div div {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer li {
  margin: 1em;
}

footer a {
  color: #7c7c7c;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
  color: yellow;
}

.copyrights li {
  text-align: center;
  color: #14802b;
}