/* Artists */
.artists-container {
    margin-top: 2rem;
    padding-top: 1rem;
  }
  
  
  .artist {
    display: inline-block;
    text-align: center;
    width: 19%;
    min-width: 80px;
    margin: 0;
  }
  
  .artist img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid blue;
  }
  
  .artist h3 {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10;
  }
  