* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* the side bar part */
.navigation {
  z-index: -1;
  border-bottom: 1px solid rgba(9, 63, 77, 0.322);
  padding: 10px;
  height: 33vh;
  display: grid;
  grid-template-rows: 33.33% 33.33% 33.33%;
  box-shadow: 2px 2px 4px rgba(3, 26, 41, 0.466);
  padding-bottom: 3.2vh;
}

.navigation a {
  box-shadow: 2px 2px 4px rgba(54, 70, 80, 0.315);
  margin: auto;
  width: 90%;
  text-decoration: none;
  text-align: start;
  padding: 1vw;
  transform: scale(1);
  transition: transform 0.5s ease-out;
  display: flex;
  align-items: center;
}

.navigation a > img {margin-right: 1vw;}

.navigation a:hover {
  text-decoration: underline;
  transform: scale(1.01);
}

.change-list {
  display: grid;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

.change-list h2 {
  text-align: center;
  width: 100%;
  font-size: 1.1em;
}

.group-list { overflow: hidden; }

.group-list::-webkit-scrollbar {
  width: 2px;
}

.group-list::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.group-list::-webkit-scrollbar-track {
}

.content-list li {
  display: flex;
  align-items: center;
  justify-content: start;
}

.content-list img {
  margin: 0;
  border: 1px solid blue;
  display: block;
  max-width: 40px;
  max-height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

/* the main part of the page */
.main-content-container {
  padding: 8vh 15px;
  padding-bottom: 20vh;
}

.heading-container {
  top: 0;
  height: 8vh;
  display: grid;
  grid-template-columns: 50% 40% 10%;
  padding: 0 20px;
  position: fixed;
  width: 80%;
  z-index: 100;
}

.heading-container h1 {
  font-size: 1.5em;
  padding: 15px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
 button {
  
}
.btn {
  border: none;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover {
  
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.btn-all,
.btn-songs,
.btn-music,
.btn-album ,
.btn-latest {
  border: 1px solid #c9bec9;
}

.account-details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.account-details img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid blue;
}


