/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Create a custom scroll bar */
*::-webkit-scrollbar {
    width: 2px;
  }
*::-webkit-scrollbar-thumb {
    background-color: #6e7680;
    border-radius: 4px;
  }
*::-webkit-scrollbar-thumb:hover {
    background-color: #0b5555;
  }
*::-webkit-scrollbar-track {
    background-color: #00000007;
  }

/* General Styles */
body {
    background-color: #000000;
    color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}

.recording-page {
    float: right;
    margin-top: 0;
    height: 100vh;
    padding: 0.5vh;
    background-color: rgba(0, 0, 0, 0.582);
    box-shadow: 0 4px 6px rgba(2, 51, 35, 0.781), 0 1px 3px rgba(2, 19, 53, 0.747);
}
.info{
    height: 100vh;
    background-color: #0f0f0f;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5), 0 1px 3px rgba(0,0,0,0.5);
}
.heading {
    background-color: #001310;
    width: 100%;
    height: 5vh;
    display: grid;
    grid-template-columns: 80% 20%;
}
div.logo {
    float: left;
    height: fit-content;
    width: fit-content;
    padding: 0.5em;
    }
    .logo:hover {
        cursor: pointer;
    }
    .logo img{
        animation: rotate 3s 3;
    }
    .logo p {
        color: rgb(0, 255, 191);
        text-indent: 0.5em;
        padding: 0;
        margin: 0;
        float: right;
        padding-top:0.1em;
    }
    .navigation {
      z-index: -1;
      border-bottom: 1px solid rgba(9, 63, 77, 0.322);
      padding: 10px;
      height: 33vh;
      display: grid;
      grid-template-rows: 33.33% 33.33% 33.33%;
      box-shadow: 2px 2px 4px rgba(3, 26, 41, 0.466);
      padding-bottom: 3.2vh;
    }
    
    .navigation a {
      background-color: #0a37425b;
      box-shadow: 2px 2px 4px rgba(54, 70, 80, 0.315);
      margin: auto;
      width: 90%;
      text-decoration: none;
      text-align: start;
      padding: 1vw;
      transform: scale(1);
      transition: transform 0.5s ease-out;
      display: flex;
      align-items: center;
      color: wheat;
    }
    .navigation a > img {
      margin-right: 1vw;
    }
    
    .navigation a:hover {
      text-decoration: underline;
      transform: scale(1.01);
    }
    .mysongs-container h2 {
      text-align: center;
      width: 100%;
      font-size: 1.1em;
      color: #a50e48;
      margin: auto;
      padding-top: 0.5em;
    }
    .mysongs-container li {
      display: flex;
      align-items: center;
      justify-content: start;
    }
    .mysongs-container img {
      margin: 0;
      border: 1px solid rgba(0, 0, 29, 0.178);
      display: block;
      max-width: 40px;
      max-height: 40px;
      border-radius: 5px;
      margin-right: 10px;
    }
.recording-page {
    width: 100%;
}
/* Add a card-like style to the divs */
.recording-page > div {
    background-color: #041114;
    border-radius: 5px;
    margin-bottom: 0.5vh;
  }
/* Specific Styles */
.top-continer {
    height: 35vh;
    display: grid;
    grid-template-columns: 40% 60%; /* two columns of equal width */
    grid-gap: 0.3em; /* gap between grid items */
    overflow: hidden;
    background-color: #091118ef;
}
.lyrics-container {
    font-size: 1.4rem;
    line-height: 2;
    height: 100%;
    background-color: #041114;

    color: #19e2c1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    scrollbar-width: thin; /* set scrollbar width */
    scrollbar-color: #555 #222; /* set scrollbar color */
}
.bridge {
    color: #5d756d;
}

.chorus {
    color: #435c5f;
}
.verse {
    color: #a18f9c;
}
.effects-container {
    background-color: #041114;

    height: 100%;
    border-radius: 5px;
    overflow-y: auto;
    scrollbar-width: thin; /* set scrollbar width */
    scrollbar-color: #555 #222; /* set scrollbar color */
}
.effect-type{
    width: 100%;
    height: 4vh;
}
.effect-type {
    display: flex;
    flex-wrap: wrap;
  }
.effect-type button {
    flex-basis: 12.5%;
    background-color: #091118ef;
    color: #83a197;
    border: hidden;
    word-wrap: break-word;
    border-right: 1px solid #1e221e;
    border-bottom: 1px solid #1d271d;
  }
.effect-type button:last-child{
    border-right:hidden;
  }


.wave-container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 32vh;
}
.wave {
  width:  98%;
  height: 90%;
  display:flex;
    align-items: center;
    justify-content: center;
}
#waveform {
  margin: auto;
  width: 100%;
  height: 100%;
}

.progress-container {
    height: 20vh;
}

.vocal, .beat {
    height: 1vh;
    width: 0;
    transition: width 1s ease;
}

.file-input-container {
    position: relative;
  }
  
  .hidden-input {
    display: none;
  }
  
  .custom-file-input {
    color: rgb(98, 228, 12);
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .selected-file-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.5em;
    color: #19e2c1;
    max-width: 8vw;
  }
  
  .progress-container {
    display: grid;
    vertical-align: auto;    
    grid-template-rows: 50% 50%;
  }

  .progress-container > div {
    display: grid;
    grid-template-columns: 5% 5% 80% 5% 5%;
    margin: auto;
  }
  
  .vocal {
    border: 1px solid rgb(48, 33, 33);
    border: hidden;
    height: 100%;
    width: 100%;
  }
  .vocal > div {
    margin: auto;
  }
  
  .beat {
    height: 100%;
    width: 100%;
  }
  .beat > div {
    margin: auto;
  }
  
  #progress-bar {
    width: 100%;
    height: 5px;
    background-color: #595e51;
    margin: auto;
  }
  
  #progress {
    height: 100%;
    background-color: #076d26; /* Set the color for the progress */
    width: 0;
  }
  
  #elapsed-time,
  #remaining-time {
    font-size: 12px;
    color: #333;
    text-align: center;
  }
  
  
  
  
.controls-container {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    height: 10vh;
    padding: 1vh;
}
.controls-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls-container > div button {
    margin: auto;
}
.add-buttons{
   padding: auto;
}
.control-buttons {
    padding: auto;
}
.current-info {
  display: inline;
  align-items: start;
  justify-content: start;
  margin: 0;
  padding: 0;
}
.audio-details {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
}
.current-info p {
    font-size: 0.6em;
    margin: 0;
    padding: 2px;
    color: #175249;
}
.file-input-container {
  position: relative;
}

.hidden-input {
  display: none;
}

.custom-file-input {
  color: rgb(98, 228, 12);
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
}

.selected-file-name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.5em;
  color: #19e2c1;
  max-width: 100%;
  margin: auto;
}
