.effects-container {
  height: 100%;
  display: grid;
  grid-template-columns: 95% 5%;
}

.effect-type{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.effect-type button {
  margin: auto;
  width: 95%;
  margin-left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.effect-type button img {
  margin-right: 0.5em;
}

.effect-container {
  width: 99%;
  height: 99%;
}

