{% load static %}

{% block albums %}
<div class="album-heading-container">
    <h2>Latest Songs In Town</h2>
</div>
<div class="album-cards-container card-container">
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?good" alt="Album Cover">
        <div class="album-details">
            <h3>Good 4 U</h3>
            <a><p>Olivia Rodrigo</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="play"></button>
        </div>
    </div>
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?dua+lipa" alt="Album Cover">
        <div class="album-details">
            <h3>Levitating</h3>
            <a><p>Dua Lipa</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="play"></button>
        </div>
    </div>
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?montero" alt="Album Cover">
        <div class="album-details">
            <h3>Montero (Call Me By Your Name)</h3>
            <a><p>Lil Nas X</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="play"></button>
        </div>
    </div>
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?driver" alt="Album Cover">
        <div class="album-details">
            <h3>Driver's License</h3>
            <a><p>Olivia Rodrigo</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="play"></button>
        </div>
    </div>
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?door" alt="Album Cover">
        <div class="album-details">
            <h3>Leave The Door Open</h3>
            <a><p>Silk Sonic</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="play"></button>
        </div>
    </div>
</div>
<div class="album-heading-container">
    <h2>Top Hits of the Month</h2>
</div>
<div class="album-cards-container card-container">
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?driver" alt="Album Cover">
        <div class="album-details">
            <h3>Driver's License</h3>
            <a><p>Olivia Rodrigo</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="play"></button>
        </div>
    </div>
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?door" alt="Album Cover">
        <div class="album-details">
            <h3>Leave The Door Open</h3>
            <a><p>Silk Sonic</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="play"></button>
        </div>
    </div>
</div>
<div class="album-heading-container">
    <h2>Bongo 2023</h2>
</div>
<div class="album-cards-container card-container">
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?boy" alt="Album Cover">
        <div class="album-details">
            <h3>The Business</h3>
            <a><p>Tiësto</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </div>
    </div>
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?guitarist" alt="Album Cover">
        <div class="album-details">
            <h3>Levitating</h3>
            <a><p>Dua Lipa</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </div>
    </div>
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?producer" alt="Album Cover">
        <div class="album-details">
            <h3>Good 4 U</h3>
            <a><p>Olivia Rodrigo</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </div>
    </div>
    <div class="card album-card">
        <img src="https://source.unsplash.com/random/400x400/?singer" alt="Album Cover">
        <div class="album-details">
            <h3>Butter</h3>
            <a><p>BTS</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="play"></button>
        </div>
     </div>
     <div class="card album-card">
        <img src="https://picsum.photos/seed/album1/400/400" alt="Album Cover">
        <div class="album-details">
            <h3>Album Title 1</h3>
            <a><p>Artist Name</p></a>
            <button class="play-button"><img src="{% static 'img/play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </div>
    </div>
</div>

{% endblock albums %} 