{% extends 'base.html' %}

{% load static %}


{% block title %} music {% endblock %}

{% block sidebar %}
<div class="sidebar">
  <div class="navigation">
    <a href="/dashboard"><img src="{% static 'img/home-icon.svg' %}" width="15vw" alt="next">Home</a>
    <a href="/record"><img src="{% static 'img/record-icon.svg' %}" width="15vw" alt="next">Record</a>
    <a href="/beats"><img src="{% static 'img/beat-icon.svg' %}" width="15vw" alt="next">Beats</a>
  </div>  
  <div class="change-list">
   
    <h2>Genres</h2>
     
  </div>
  <div class="group-list">
    <ul class="content-list">
      <li><img src="https://source.unsplash.com/random/400x400/?pop">Summer Vibes</li>
      <li><img src="https://source.unsplash.com/random/400x400/?rock"  width="50vw">Throwback Jams</li>
      <li><img src="https://source.unsplash.com/random/400x400/?hiphop"  width="50vw">Chill Beats</li>
      <li><img src="https://source.unsplash.com/random/400x400/?blues"  width="50vw">Workout Motivation</li>
      <li><img src="https://source.unsplash.com/random/400x400/?blues"  width="50vw">Relaxing Piano Melodies</li>
    </ul>
  </div>
  <div class="change-list">
   
    <h2>Playlists</h2>
     
  </div>
  <div class="group-list">
    <ul class="content-list">
      <li><img src="https://source.unsplash.com/random/400x400/?pop"  width="50vw">Pop</li>
      <li><img src="https://source.unsplash.com/random/400x400/?rock"  width="50vw">Rock</li>
      <li><img src="https://source.unsplash.com/random/400x400/?hiphop"  width="50vw">Hip Hop</li>
      <li><img src="https://source.unsplash.com/random/400x400/?rnb"  width="50vw">R&B</li>
      <li><img src="https://source.unsplash.com/random/400x400/?blues"  width="50vw">blues</li>
      <li><img src="https://source.unsplash.com/random/400x400/?reggea"  width="50vw">reggea</li>
      <li><img src="https://source.unsplash.com/random/400x400/?guitarist"  width="50vw">Tanzania</li>
      <li><img src="https://source.unsplash.com/random/400x400/?girl"  width="50vw">kenya</li>
    </ul>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="heading-container">
  <h1>Diamond Plutnumz New Songs</h1>
  <div class="button-container">
    <button class="btn btn-all">All</button>
    <button class="btn btn-songs">Songs</button>
    <button class="btn btn-album">Albums</button>
    <button class="btn btn-music">Music</button>
    <button class="btn btn-music">Artists</button>
    <button class="btn btn-latest">Latest</button>
  </div>
  <div class="account-details">
    <img src="https://source.unsplash.com/random/400x400/?guitarist" alt="Artist Profile Picture">
  </div>
</div>
<div class="main-content-container">

    {% include 'music-albums.html' %}
    {% include 'music-songs.html' %}
  
    {% block albums %}
    {% endblock albums %}

    {% block songs %}
    {% endblock songs %}

    {% block artists %}
    {% endblock artists %}

    <div class="song-player">
      <div class="song-info">
        <img src="https://source.unsplash.com/random/400x400/?musician"  width="20vw">
        <div class="song-details">
          <div class="song-name">Dance With Me</div>
          <div class="song-artist">Alidante</div>
        </div>
      </div>
      <div class="song-playing">
        <div class="song-progress">
          <div class="current-time">0:00</div>
          <div class="progress-bar"></div>
          <div class="total-time">4:30</div>
        </div>
        <div class="song-controls">
          <button title="like" class="fav-btn"><img src="{% static 'img/like-icon.svg' %}" width="15vw" alt="next"></button>
          <button title="previous" class="prev-btn"><img src="{% static 'img/prev-icon.svg' %}" width="20vw" alt="prvious"></button>
          <button title="play" class="play-btn"><img src="{% static 'img/play-icon.svg' %}" width="25vw" alt="play"></button>
          <button title="next" class="next-btn"><img src="{% static 'img/next-icon.svg' %}" width="20vw" alt="next"></button>
          <a href="player/"><button title="maximize" class="maximize-btn"><img src="{% static 'img/max-icon.svg' %}" width="15vw" alt="next"></button></a>
        </div>
      </div>
      <div class="song-volume">
        <div class="volume-bar"><div class="volume-bar-progress"></div></div>
        <div class="buttons">
          <button title="lyrics" class="play-btn"><img src="{% static 'img/lyrics-icon.svg' %}" width="15vw" alt="play"></button>
          <button title="equalizer" class="next-btn"><img src="{% static 'img/equalizer-icon.svg' %}" width="15vw" alt="next"></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block static %}
  <link rel="stylesheet" href=" {% static '/css/music.css' %}">
  <script src="{% static 'js/music.js' %}"></script>
{% endblock static %}
