{% load static %}

{% block songs %}
<div class="songs-list-container">
    <h2>Songs Today</h2>
    <ul class="song-list">
        <li>
            <div class="song-image">#</div> 
            <div class="song-title">Title:</div>
            <div class="song-artist-h">Artist:</div>
            <div class="song-duration">Duration:</div>
            <div class="song-album-h">Album:</div>
            <div class="song-listens-h">Listens:</div>
            <div></div>
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?guitarist" alt="photo"></div> 
            <div class="song-title">Kata</div>
            <div class="song-artist">Diamond Platnumz</div>
            <div class="song-duration">3:30</div>
            <div class="song-album">love</div>
            <div class="song-listens">5,065</div>
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?kenya" alt="photo"></div> 
            <div class="song-title">Kazi Iendelee</div>
            <div class="song-artist">Rayvanny</div>
            <div class="song-duration">3:45</div>
            <div class="song-album">celina</div>
            <div class="song-listens">3,245</div>   
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?tokyo" alt="photo"></div> 
            <div class="song-title">Nikune</div>
            <div class="song-artist">Sauti Sol</div>
            <div class="song-duration">4:20</div>
            <div class="song-album">Tetema</div>  
            <div class="song-listens">1,298</div>
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?beach" alt="photo"></div> 
            <div class="song-title">Moyo Wangu</div>
            <div class="song-artist">Diamond Platnumz</div>
            <div class="song-duration">3:20</div>
            <div class="song-album">Zuena</div>   
            <div class="song-listens">150,000</div>
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?bikini" alt="photo"></div> 
            <div class="song-title">Kanyaga</div>
            <div class="song-artist">Diamond Platnumz</div>
            <div class="song-duration">3:45</div>
            <div class="song-album">Zuena</div>
            <div class="song-listens">100,065</div>   
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?girl" alt="photo"></div> 
            <div class="song-title">Tetema</div>
            <div class="song-artist">Rayvanny ft. Diamond Platnumz</div>
            <div class="song-duration">2:29</div>
            <div class="song-album">My Love</div>  
            <div class="song-listens">50,000</div>
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?rayvanay" alt="photo"></div> 
            <div class="song-title">Jeje</div>
            <div class="song-artist">Diamond Platnumz</div>
            <div class="song-duration">3:18</div>
            <div class="song-album">Teamo</div>
            <div class="song-listens">876,543</div>
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?diamond" alt="photo"></div> 
            <div class="song-title">Zuena</div>
            <div class="song-artist">Marioo</div>
            <div class="song-duration">3:42</div>
            <div class="song-album">Desh Desh</div>
            <div class="song-listens">54,321</div>   
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?artist" alt="photo"></div> 
            <div class="song-title">Tepete</div>
            <div class="song-artist">Rayvanny ft. Diamond Platnumz</div>
            <div class="song-duration">3:57</div>
            <div class="song-album">Love</div>   
            <div class="song-listens">4,321</div>
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
    </ul>
</div>

{% endblock songs %}
