{% extends 'base.html' %}

{% load static %}
{% block static %}
  <link rel="stylesheet" href=" {% static '/css/record.css' %}">
  <script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.min.js"></script>
  <script src=" {% static '/js/record.js' %}"></script>
{% endblock static %}

{%block title %} Create Music {% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div class="navigation">
        <a href="/"><img src="{% static 'img/home-icon.svg' %}" width="15vw" alt="next">Home</a>
        <a href="/music"><img src="{% static 'img/record-icon.svg' %}" width="15vw" alt="next">Music</a>
        <a href="#"><img src="{% static 'img/beat-icon.svg' %}" width="15vw" alt="next">Beats</a>
      </div>
      <div class="mysongs-container">
        <h2>My Songs</h2>
        <ul>
          <li><img src="{% static 'img/audio-icon.svg' %}" width="45vw" alt="next">Bohemian Rhapsody</li>
          <li><img src="{% static 'img/audio-icon.svg' %}" width="45vw" alt="next">Hotel California</li>
          <li><img src="{% static 'img/audio-icon.svg' %}" width="45vw" alt="next">Imagine</li>
          <li><img src="{% static 'img/audio-icon.svg' %}" width="45vw" alt="next">Shape of You</li>
          <li><img src="{% static 'img/audio-icon.svg' %}" width="45vw" alt="next">Hey Jude</li>
        </ul>
      </div>  
  </div>
  
{% endblock %}

{% block content %}
    <div class="recording-page">
        <div class="top-continer" style="background-color: #00000000;">
        <div class="lyrics-container">
        </div>
        <div class="effects-container">
            <div class="effect-type">
                <div class="effect-type">
                    <button>Rythmn</button>
                    <button>volume</button>
                    <button>harmony</button>
                    <button>beats</button>
                    <button>mixer</button>
                    <button>reverb</button>
                    <button>tuner</button>
                    <button>vocals</button>
                </div>
            </div>
        </div>
    </div>
    <div class="wave-container">
        <div class="wave">
            <div id="waveform"></div> 
        </div>      
    </div>
    <div class="progress-container">
        <div class="beat">
            <div id="icon">
                <button id="record">
                    <img src="{% static 'img/music-icon.svg' %}" alt="menu" width="15vw" height="auto">
                </button>
                  <button id="record">
                    <img src="{% static 'img/sound-icon.svg' %}" alt="menu" width="15vw" height="auto">
                </button>
            </div>
            <div id="elapsed-time">00:00</div>
            <div id="progress-bar">
                <div id="progress"></div>
            </div>
            <div id="remaining-time">00:00</div>
            <div id="icon">
                <button id="record">
                    <img src="{% static 'img/headset-icon.svg' %}" alt="menu" width="15vw" height="auto">
                </button>
                  <button id="record">
                    <img src="{% static 'img/play-icon.svg' %}" alt="menu" width="15vw" height="auto">
                </button>
            </div>
        </div>
        <div class="vocal">
            <div id="icon">
                <button id="start-record">
                    <img src="{% static 'img/voice-icon.svg' %}" alt="menu" width="15vw" height="auto">
                </button>
                  <button id="mute">
                    <img src="{% static 'img/mute-icon.svg' %}" alt="menu" width="15vw" height="auto">
                </button>
            </div>
            <div id="elapsed-time">00:00</div>
            <div id="progress-bar">
                <div id="progress"></div>
            </div>
            <div id="remaining-time">02:00</div>
            <div id="icon">
                <button id="headset">
                    <img src="{% static 'img/headset-icon.svg' %}" alt="menu" width="15vw" height="auto">
                </button>
                  <button id="pause">
                    <img src="{% static 'img/pause-icon.svg' %}" alt="menu" width="15vw" height="auto">
                </button>
            </div>
        </div>
        
    </div>
    <div class="controls-container">
        <div class="add-buttons">
            <span id="recorded-file-name" class="selected-file-name">No audio recorded</span>
            <button id="record">
                <img src="{% static 'img/record-icon.svg' %}" alt="menu" width="30vw" height="auto">
            </button>
            <button id="stopButton">
                <img src="{% static 'img/stop-icon.svg' %}" alt="menu" width="30vw" height="auto">
            </button>
          </div>
          
    <div class="control-buttons">
        <button>
            <img src="{% static 'img/left-icon.svg' %}" alt="menu" width="15vw" height="auto">
        </button>
        <button>
            <img src="{% static 'img/undo-icon.svg' %}" alt="menu" width="20vw" height="auto">
        </button>
        <button>
            <img src="{% static 'img/prev-icon.svg' %}" alt="menu" width="25vw" height="auto">
        </button>
        <button>
            <img id="play-button" src="{% static 'img/play-icon.svg' %}" alt="menu" width="30vw" height="auto">
        </button>
        <button>
            <img src="{% static 'img/next-icon.svg' %}" alt="menu" width="25vw" height="auto">
        </button>
        <button>
            <img src="{% static 'img/redo-icon.svg' %}" alt="menu" width="20vw" height="auto">
        </button>
        <button>
            <img src="{% static 'img/right-icon.svg' %}" alt="menu" width="15vw" height="auto">
        </button>
    </div>
        <div class="current-info">
            <div class="file-input-container">
                <input type="file" id="file-input" class="hidden-input">
            </div>
            <div class="audio-details">
                <label for="file-input" class="custom-file-input"> <img src="{% static 'img/add-icon.svg' %}" alt="menu" width="30vw" height="auto"></label>
                <span id="selected-file-name" class="selected-file-name">No beat selected</span>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

