{% extends 'base.html' %}

{% load static %}
{% block static %}
  <link rel="stylesheet" href=" {% static '/css/record.css' %}">
  <script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.min.js"></script>
  <script src=" {% static '/js/record.js' %}"></script>
{% endblock static %}

{%block title %} Create Music {% endblock %}

{% block sidebar %}
<div id="sidebar">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
  
{% endblock %}

{% block content %}
    <div class="recording-page">
        <div class="top-continer" style="background-color: #00000000;">
        <div class="lyrics-container">
            <p class="bridge">
                They say everything can be replaced<br>
                Yet every distance is not near<br>
                So I remember every face<br>
                Of every man who put me here
            </p>
            <p class="verse">
                I see my light come shining<br>
                From the west unto the east<br>
                Any day now, any day now<br>
                I shall be released
            </p>
            <p class="verse">
                They say every man needs protection<br>
                They say every man must fall<br>
                Yet I swear I see my reflection<br>
                Some place so high above this wall
            </p>
            <p class="bridge">
                I see my light come shining<br>
                From the west unto the east<br>
                Any day now, any day now<br>
                I shall be released
            </p>
            <p class="chorus">
                Standing next to me in this lonely crowd<br>
                Is a man who swears he's not to blame<br>
                All day long I hear him shout so loud<br>
                Crying out that he was framed
            </p>
            <p class="chorus">
                I see my light come shining<br>
                From the west unto the east<br>
                Any day now, any day now<br>
                I shall be released
            </p>
            <p class="verse">
                They say every woman she must fall<br>
                Like petals from a rose<br>
                So I remember every face<br>
                Of every man who put me here
            </p>
            <p class="verse">
                I see my light come shining<br>
                From the west unto the east<br>
                Any day now, any day now<br>
                I shall be released
            </p>
        </div>
        <div class="effects-container">
            <div class="effect-type">
                <div class="effect-type">
                    <button>Rythmn</button>
                    <button>volume</button>
                    <button>harmony</button>
                    <button>beats</button>
                    <button>mixer</button>
                    <button>reverb</button>
                    <button>tuner</button>
                    <button>vocals</button>
                </div>
            </div>
        </div>
    </div>
    <div class="wave-container">
        <div class="wave">
            <div id="waveform"></div> 
        </div>      
    </div>
    <div class="progress-container">
        <div class="beat">
            <div id="icon">
                <img src="{% static 'img/record-icon.svg' %}" alt="menu" width="28vw" height="auto">
            </div>
            <div id="elapsed-time">00:00</div>
            <div id="progress-bar">
                <div id="progress"></div>
            </div>
            <div id="remaining-time">12:00</div>
            <div id="icon">
                <img src="{% static 'img/record-icon.svg' %}" alt="menu" width="28vw" height="auto">
            </div>
        </div>
        <div class="vocal">
            <div id="icon">
                <img src="{% static 'img/record-icon.svg' %}" alt="menu" width="28vw" height="auto">
            </div>
            <div id="elapsed-time">00:00</div>
            <div id="progress-bar">
                <div id="progress"></div>
            </div>
            <div id="remaining-time">12:00</div>
            <div id="icon">
                <img src="{% static 'img/record-icon.svg' %}" alt="menu" width="28vw" height="auto">
            </div>
        </div>
        
    </div>
    <div class="controls-container">
        <div class="add-buttons">
            <button id="record">
              <img src="{% static 'img/record-icon.svg' %}" alt="menu" width="28vw" height="auto">
            </button>
          </div>
          
    <div class="control-buttons">
        <button>
            <img src="{% static 'img/left-icon.svg' %}" alt="menu" width="15vw" height="auto">
        </button>
        <button>
            <img src="{% static 'img/undo-icon.svg' %}" alt="menu" width="20vw" height="auto">
        </button>
        <button>
            <img src="{% static 'img/prev-icon.svg' %}" alt="menu" width="25vw" height="auto">
        </button>
        <button>
            <img id="play-button" src="{% static 'img/play-icon.svg' %}" alt="menu" width="30vw" height="auto">
        </button>
        <button>
            <img src="{% static 'img/next-icon.svg' %}" alt="menu" width="25vw" height="auto">
        </button>
        <button>
            <img src="{% static 'img/redo-icon.svg' %}" alt="menu" width="20vw" height="auto">
        </button>
        <button>
            <img src="{% static 'img/right-icon.svg' %}" alt="menu" width="15vw" height="auto">
        </button>
    </div>
        <div class="current-info">
            <img src="https://source.unsplash.com/random/400x400/?musician"  width="auto">
            <div class="audio-details">
                <div class="file-input-container">
                    <input type="file" id="file-input" class="hidden-input">
                </div>
                <label for="file-input" class="custom-file-input"><h3>Select File<h3></label>
                <span id="selected-file-name" class="selected-file-name">No file selected</span>
            </div>

        </div>
    </div>
    </div>
    </div>
{% endblock %}

