*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  top: 0;
  left: 0;
  height: 10vh;
  display: grid;
  grid-template-columns:10% 40% 40% 10%;
  backdrop-filter: blur(5px);
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.274);
  overflow: auto;
  border: 1px solid rgba(255, 255, 255, 0.144);
  width: 100vw;
  height: auto;
}

.scrolled {
  position: fixed;
  font-size: smaller;
}

.reached-bottom {
   position: static;
}

.heading > div {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: baseline;
  height: 100%;
  text-transform: capitalize;
}

.button-container {
  overflow-x: auto;
}

.account-details {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
