.song-player {
    bottom: 0;
    left: 0;
    width: 97%;
    margin: 1.5%;
    margin-bottom: 0.5%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-color: rgba(7, 126, 86, 0.253);
    border-top: 1px solid #010d2779;
    z-index: 999;
    height: 7.5vh;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    position: fixed;
    overflow: visible;
  }
  
  .song-info {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .song-info img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin: 10px;
    border: 1px solid blue;
  }
  
  .song-details {
    display: flex;
    flex-direction: column;
  }
  
  .song-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .song-details .song-artist {
  }

  .song-playing {
    display: grid;
    grid-template-rows: 30% 70%;
  }

  .song-progress {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
  }
  
  .progress-bar {
    height: 50%;
    background-color: rgb(22, 65, 62);
    width: 70%;
    border-radius: 10px;
    margin: 3px 10px;
  }
  .song-controls {
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .song-controls button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 70px;
  }
  
  .song-controls button:hover{
    scale: 1.1;
  } 
  
  .fav-btn {
    margin-right: 0;}
  
  .song-volume {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    overflow: visible;
  }
  .volume-container {
    position: absolute;
    bottom: 100%;
    width: auto;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
  }

  .buttons {
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 10px;
  }
  .buttons button {
    padding: 5px;
  }