{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/uia-icon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script src="{% static 'js/master.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>{% block title %}{% endblock %}</title>
    {% block static %}{% endblock static %}
</head>
<body>
<header>
    <div class="logo">
        <img src="{% static 'img/uia-icon.svg' %}" alt="logo" width="15vw"><p>upcoming.ai</p>
    </div>
    <div class="page-heading">
    <div class="heading">
        <h1> {% block heading %}{% endblock %} </h1>
    </div>
    </div>
    <div class="page-links">
      <nav class="navigation-bar">
        <ul class="nav-links">
          <li {% if active_page == 'main' %} class="active"{% endif %}><a href="/"><i class="fas fa-home"></i> Home</a></li>
          <li {% if active_page == 'artists' %} class="active"{% endif %}><a href="/artists/"><i class="fas fa-users"></i> Artists</a></li>
          <li {% if active_page == 'account' %} class="active"{% endif %}><a href="/account/"><i class="fas fa-user"></i> Account</a></li>
          <li {% if active_page == 'developers' %} class="active"{% endif %}><a href="/developers/"><i class="fas fa-code"></i> Developers</a></li>
          <li {% if active_page == 'support' %} class="active"{% endif %}><a href="/support/"><i class="fas fa-hands-helping"></i> Support</a></li>
          <li {% if active_page == 'about' %} class="active"{% endif %}><a href="/about/"><i class="fas fa-info-circle"></i> About</a></li>
      </ul>      
    </nav>
  </div>
</header>
<main>
  {% block content %}
  {% comment %} main page content goes here {% endcomment %}
  {% endblock %}
</main> 
<footer>
  <div class="link-container">
      <div>
        <h4>Developers</h4>
        <ul>
          <li><a href="#">API Documentation</a></li>
          <li><a href="#">Developer Blog</a></li>
          <li><a href="#">Developer Tools</a></li>
        </ul>
      </div>
      <div>
        <h4>Explore</h4>
        <ul>
          <li><a href="/record">Record a Song</a></li>
          <li><a href="/music">Discover Music</a></li>
          <li><a href="/">Home</a></li>
        </ul>
      </div>
      <div>
        <h4>Contact Us</h4>
        <ul>
          <li><a href="mailto:support@upcoming.com">support@upcoming.com</a></li>
          <li><a href="#">Join the Community</a></li>
          <li><a href="#">Music Technologies</a></li>
        </ul>
      </div>
  </div>
  <div class="copyrights">
    <ul>
      <li>Developed by muztech</li>
      <li>&copy 2023</li>
    </ul>
  </div>
</footer>      
</body>
</html>