{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/uia-icon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script src="{% static 'js/master.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>{% block title %}{% endblock %}</title>
    {% block static %}{% endblock static %}
</head>
<body>
<header>
    <div class="center-elements-x">
        <img class="logo" src="{% static 'img/uia-icon.svg' %}" alt="logo" width="25vw">upcoming
    </div>
    <div class="center-elements-x">
        <h1 class="heading"> {% block heading %}{% endblock %} </h1>
    </div>
    <nav class="center-elements-x">
      <ul class="nav-list center-elements-x fill-parent">
            <li><a {% if active_page == 'main' %} class="active"{% endif %} href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a {% if active_page == 'artists' %} class="active"{% endif %} href="/artists/"><i class="fas fa-users"></i> Artists</a></li>
            <li><a {% if active_page == 'account' %} class="active"{% endif %} href="/account/"><i class="fas fa-user"></i> Account</a></li>
            <li><a {% if active_page == 'developers' %} class="active"{% endif %} href="/developers/"><i class="fas fa-code"></i> Developers</a></li>
            <li><a {% if active_page == 'support' %} class="active"{% endif %} href="/support/"><i class="fas fa-hands-helping"></i> Support</a></li>
            <li><a {% if active_page == 'about' %} class="active"{% endif %} href="/about/"><i class="fas fa-info-circle"></i> About</a></li>
      </ul>  
    </nav>    
</header>
<main>
    {% block content %}
    {% comment %} main page content goes here {% endcomment %}
    {% endblock %}
</main> 
<footer>
    <nav>
        <div class="center-elements-y">
          <h4 class="heading">Developers</h4>
          <ul class="nav-list">
            <li><a href="#">API Documentation</a></li>
            <li><a href="#">Developer Blog</a></li>
            <li><a href="#">Developer Tools</a></li>
          </ul>
        </div>
        <div class="center-elements-y">
          <h4 class="heading">Explore</h4>
          <ul class="nav-list">
            <li><a href="/record">Record a Song</a></li>
            <li><a href="/music">Discover Music</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
        <div class="center-elements-y">
          <h4 class="heading">Contact Us</h4>
          <ul class="nav-list">
            <li><a href="mailto:support@upcoming.com">support@upcoming.com</a></li>
            <li><a href="#">Join the Community</a></li>
            <li><a href="#">Music Technologies</a></li>
          </ul>
        </div>
    </nav>
    <div class="copyrights center-elements-y">
      <ul class="nav-list center-elements-y">
        <li>Developed by muztech</li>
        <li>&copy 2023</li>
      </ul>
    </div>
</footer>      
</body>
</html>