{% extends "master.html" %}
{% load static %}
{% block title %} Create new account {% endblock %}
{% block heading %} Create an account on upcoming {% endblock %}

{% block content %}
<div class="register-page">
    <div class="header-content">
        <div>
        </div>
        <div class="sign-in">
            <a href="#">Sign In</a>
        </div>
    </div>
    <div class="main-container">
        <form method="post" action="{% url 'register' %}" id="registration">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <div class="warning">
                    <p class="error-message">Warning: You have entered incorrect information.</p>
                </div>
            {% endif %}
            <div>
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock static %}
