{% extends "master.html" %}
{% load static %}
{% block title %} Create new account {% endblock %}
{% block heading %} Create an account on upcoming {% endblock %}

{% block content %}
<div class="register-page">
    <div class="header-content">
        <div>
        </div>
        <div class="sign-in">
            <button >sign in</button>
        </div>
    </div>
    <div class="main-container">
        <form method="post" action="" id="registration">
            <div class="inputs-container">
                <label for="username">Username: </label>
                <input type="text" name="username" placeholder="eg. peter" required>
            </div>
            <div class="inputs-container">
                <label for="email">Email: </label>
                <input type="email" name="email" placeholder="youremail@example.com" required>
            </div>
            <div class="inputs-container">
                <label for="password">Password: </label>
                <input type="password" name="password" placeholder="eg. #$%$fxfgf56" required>
            </div>
            <div class="warning">
                <p class="error-message">Warning you have entered a wrong password</p>
            </div>
            <div>
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock static %}