/* Common styling for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
  }

/* Custom Scroll Bar */
*::-webkit-scrollbar {
    width: 6px;
    height: 2px;
  }

*::-webkit-scrollbar-thumb {
    background-color: #1e6a74;
    border-radius: 4px;
  }

*::-webkit-scrollbar-thumb:hover {
    background-color: #0b5555;
  }

*::-webkit-scrollbar-track {
    background-color: #ffffff00;
  }

.side-content::-webkit-scrollbar {
    width: 2px;
  }

.side-content::-webkit-scrollbar-thumb {
    background-color: #1e6a74;
    border-radius: 2px;
  }


/* Styling For Page Layout */
body, html {
    overflow: auto;
  }

/* Main Part The Page */

  
/* Side Bar Layout */
.side-content {
    position: fixed;
    height: 100vh;
    overflow: auto;
    background-color: #090a0af8;
    padding-bottom: 10vh;
    width: 50%;
    visibility: hidden;
    z-index: 1000;
  }

    /* ANIMATIONS */
    @keyframes slide-out {
      0% {
        transform: translateX(0);
      }
  
      100% {
        transform: translateX(-110%);
      }
    }
  
    @keyframes slide-in {
      from {
        transform: translateX(-110%);
      }
  
      to {
        transform: translateX(0);
      }
    }

  .slide-left {
    animation: slide-in 1s;
  }

  .slide-right {
    animation: slide-out 1s;
  }



/* Main Content Layout */
.main-content {
  height: auto;
  background-color: #151a1b;
}

/* the sidebar navigation part */
/* Navigation bar */
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #010f0f93;
}

.navigation a{
display: flex;
align-items: center;
justify-content: center;
margin: auto;
}

/* Side Bar Group Lists */
.group-heading {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #04161648;
}


.group-heading h3 {
  text-align: center;
  padding: 1em;
}

.btn {
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  border: 1px solid white;
}

.btn:hover {
  background-color: white;
  color: black;
  scale: 1;
}
.btn:not(:last-child) {
  margin-right: 10px;
}

.cartegory {
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  color: gray;
}

.cartegory:hover {
  color: rgb(10, 204, 42);
  scale: 1;
}
.cartegory:not(:last-child) {
  margin-right: 10px;
}



.group-list {
  overflow: auto;
  height: 85vh;
}

.group-list ul > li {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0.25em;
    padding: 1em;
    border-radius: 5px;
}

.group-list ul > li:hover {
  background-color: rgba(2, 22, 39, 0.795);
  backdrop-filter: blur(10px);
  cursor: pointer;
}



/* Lists Styling */
ul {
    list-style-type: none;
  }

li {
    font: normal;
  }

li:hover {
    font: normal; 
  }

/* Buttons Styling */
button:hover {
    scale: 1.1;
    cursor: pointer;
  }

button {
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
  }

button[title]:hover::after {
    content: attr(title);
    position: absolute;
    padding: 4px 8px;
    border-radius: 4px;
    top: 0;
    right: 0;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }

button[title]:hover::after {
    opacity: 1;
  }

/* Texts Styling */
 h1, h2, h3, h4, h5, h6, p, div, em, mark, i, ul, li {
    text-indent: 0.5em;
    color: white;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
  }

li {
    color: wheat;
  }

li div {
    color:oldlace;
  }
  
h1 { 
    color: white;
 }

h2 { 
    color: white;
 }

h3 { 
  color: white;
 }

 h4 { 
  color: white;
 }


/* Links Styling */
a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 230, 0);
  text-decoration: underline;
  cursor: pointer;
}

a:visited { color: white; }

a:active { color: green; }

a:focus { outline: 2px solid orange; }

a:target { background-color: red }

/* Images Styling */
.small-image {
    width: 50px;
    max-width: 50px;
    height: 50px;
    min-height: 50px;
    border: 1px solid rgba(19, 19, 32, 0.199);
    border-radius: 5px;
    overflow: hidden;
}

.artist-image {
  display: block;
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  border: 1px solid rgb(246, 246, 255);
}

.account-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* cards Styling */
.card-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  align-content: space-between;
}

.card {
  max-width: 300px;
  min-width: 150px;
  min-height: 25vh;
  flex: 0 1 300px;
  margin: 10px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.329);
}

h1 {
  font-size: clamp(1rem, 2vw, 1rem);
}

h2 {
  font-size: clamp(0.8rem, 1vw, 0.9rem);
}

h3 {
  font-size: clamp(0.7rem, 1vw, 1rem);
}

h4 {
  font-size: clamp(0.7rem, 1vw, 1rem);
}

h5 {
  font-size: clamp(0.7rem, 1vw, 1rem);
}

h6 {
  font-size: clamp(0.7rem, 1vw, 1rem);
}

a,
li {
  font-size: clamp(0.6rem, 0.6vw, 0.7rem);
}

p,
span {
  font-size: clamp(0.6rem, 0.7vw, 0.7rem);
}

footer {
  background-color: black;
}