/* Custom scroll Bar */
::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background: var(--scroll-bar-bg); }
  
::-webkit-scrollbar-thumb { background: var(--scroll-bar-thumb); border-radius: 4px; }

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-primary);
  font-family: var(--page-font-family);
}

/* Global styles for all elements */
body, html {
  background-color: var(--page-bg-color);
  overflow-x: hidden;
}
h1 {font-size: clamp(2rem, 5vw, 3rem);}

h2 {font-size: clamp(1.8rem, 4vw, 2.5rem);}

h3 {font-size: clamp(1.6rem, 3vw, 2rem);}

h4 {font-size: clamp(1.4rem, 2.5vw, 1.8rem);}

h5 {font-size: clamp(1.2rem, 2vw, 1.6rem);}

h6 {font-size: clamp(1rem, 1.5vw, 1.4rem);}

a,li {font-size: clamp(0.7rem, 0.8vw, 0.9rem);}
p, span {font-size: clamp(0.8rem, 0.9vw, 1rem);}

a {
  color: var(--link-color);
}
a i{
  color: var(--link-color);
}
/* page header */
header {
  background-color: var(--header-bg-color);
  box-shadow: 3px 2px 4px var(--header-shadow);
  backdrop-filter: blur(10px);
  height: var(--header-height);
  width: 100%;
  display: grid;
  grid-template-columns:10% 40% 50%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: height 0.5s ease-in-out;
}

header h1 {
  font-size: clamp(10px, 2vw, 20px);
}

header.scrolled {
  height: 6vh;
  position: fixed;
  font-size: smaller;
}
  
/* Main content styles */
main {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  min-height: var(--page-height);
  overflow: auto;
}


/*Footer  Style */
footer {
  background: var(--footer-bg-color);
  min-height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* UTILITY CLASSES */
.logo {
  background-color: var(--logo-bg);
  border-radius: 25px;
  font-family: cursive;
  padding: 2px;
}

.nav-bar {
  display: grid;
  visibility: visible;
  grid-template-columns: 90% 10%;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-list a{
  text-decoration: none;
}

.theme-button {
  background-color: transparent;
  border: none;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.toggle-navbar-btn {
  display: none;
}

.account-btn {
  border: 1px solid var(--color-secondary);
  background-color: var(--logo-bg);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.account-btn img {
  width: 100%;
  height: 100%;
}
.center-elements-x {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.center-elements-y {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-list {
  list-style-type: none;
}

.active {
  color: var(--active-link-color);
}

.active i {
  color: var(--active-link-color);
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.slide-left {
  animation: slide-in 1s;
}

.slide-right {
  animation: slide-out 1s;
}
.social-links {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-links a{
    font-size: 1.5em;
}

.website-links {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 30vh;
}

.website-links div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.website-links .nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.website-links .nav-list li{
    margin-bottom: 10px;
}

/* ANIMATIONS */
@keyframes slide-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(110%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(110%);
  }

  to {
    transform: translateX(0);
  }
}

/* TABLET */
/* Styles for tablets (768px and above) */
@media only screen and (max-width: 1000px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2.5%;
  }

  .nav-bar {
    width: 40vw;
    border-radius: 0 0 5px 5px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    background: var(--header-bg-color);
    box-shadow: 1px 1px 2px  var(--header-shadow);
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    top: 100%;
    right: 0;
    transition: transform 1s, visibility 1s ease;
  }

  .nav-list {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .nav-buttons {
    height: 20%;
  }

  .toggle-navbar-btn {
    display: block;
    border: none;
    background-color: transparent;
    color: var(--color-secondary);
    font-size: larger;
    font-weight: bold;
  }
}

/* PHONE */
/* Styles for phones (up to 767px) */
@media only screen and (max-width: 767px) {
  header {
    display: flex;
  }

  .nav-bar {
    width: 60vw;
  }

}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
  height: 70vh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

section>h2,
h1 {
  color: var(--color-secondary);
}

section>h1,
h2 {
  color: var(--color-secondary);
}

section a {
  text-decoration: none;
}

section img {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.356);
  border-radius: 5px;
}

.section-1 {
  width: 100%;
  background: var(--bg-welcome-container);
  height: 100vh;
}

.text-desc {
  padding: 5%;
  color: var(--color-secondary);
  height: 70%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: space-around;
  flex-direction: column;
}

.img-desc {
  height: 90%;
  float: right;
  width: 50%;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/* Styles for screens smaller than 600px */
@media (max-width: 800px) {

  .section-1,
  .section-2,
  .section-3,
  .section-4,
  .section-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    overflow: hidden;
    margin-bottom: 10vh;
  }

  .section-1,
  .section-3,
  .section-5 {
    flex-direction: column-reverse;
  }

  .section-1 {
    height: 90vh;
  }

  .text-desc {
    width: 100%;
  }

  .img-desc {
    width: 100%;
    overflow: hidden;
  }

  section img {
    width: 90%;
    max-height: 40vh;
  }
}