/* Define variables for font sizes and colors for light mode */
:root {
    /* Page heights */
    --header-height: 10vh;
    --page-height: 90vh;
    --footer-height: 50vh;
  
    /* Page colors */
    --color-secondary: #0a7e5b;
    --color-primary: #000000;
    --color-opposite:white;
    --link-color: #0000FF;
    --active-link-color: #008000;
    --heading-color: #A52A2A;
    --normal-text-color: #000000;
  
    /* Page shadows */
    --header-shadow: #1b1b1b3b;
  
    /* Page background */
    --header-bg-color: #FFFFFFDE;
    --page-bg-color: #FFFFFFF8;
    --footer-bg-color: linear-gradient(to bottom, transparent, #9ab4b6);
    --bg-welcome-container: linear-gradient(to bottom, #85dbc2, transparent);
    --heading-bg-color: linear-gradient( to right, #94949421 , transparent);
  
  
    /* Page fonts */
    --heading-font-size: 1.8em;
    --page-heading-font-size: 2em;
    --heading-font-weight: 1.5em;
    --large-font-size: 3.2em;
    --btn-font-size: 1.1em;
    --page-font-family: 'Montserrat', sans-serif;
  
    /* Scroll bar */
    --scroll-bar-bg: #FFFFFF;
    --scroll-bar-thumb: #808080;
  }
  
  