/* Define variables for font sizes and colors */
:root {
    /*font sizes*/
    --font-size-base: 16px;

    /*page colors*/
    --color-primary: #0a1e24ef;
    --color-secondary: #d3c8c8;
    --color-background: #ffffff;
    --color-text: #333;
    --color-shadow: rgba(214, 199, 199, 0.1);
    --color-footer:rgba(0, 0, 0, 0.767);

    /*page heights*/
    --header-height: 10vh;
    --main-page-height: 110vh;
    --footer-height:10vh;


    /* transparent backgrounds */
    --transparent--bg: rgba(0, 0, 0, 0);
    /* all button colors */
    --btn--bg--color: #2d2d2d;
    --btn--hover--bg-color: #1d1d1d;
    --btn--txt--color: #ffffff;
    --btn--border--color: rgb(135, 135, 135);
    /* all heading colors */
    --heading--txt--color: #cdf0e1;
    /* all inputs colors */
    --input--label--color: #dcdcdc;
    --input--txt--color: #ffffff;
    --input--border--color: rgb(135, 135, 135);
    --placeholder--txt--color: #a0a0a0;
    /* text colors for p elements */
    --warning--txt-color: #ff6347;
    --logo--txt--color: rgb(7, 253, 200);

    --footer-text-color: #1f034d;
    --footer-font-size: 14px;
  }
  


/* Create a custom scroll bar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0b4c55;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f7f7f7;
  }
  
  /* Reset some default styles */
  body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, sans-serif;
  }
  
  /* Set global styles for the page */
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: height 0.3s ease-in-out;
  }
  
  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  div.logo {
    float: left;
    height: fit-content;
    width: fit-content;
    padding: 1em;
    }
    .logo:hover {
        cursor: pointer;
    }
    .logo img{
        animation: rotate 3s 3;

    }
    .logo p {
        color: var(--logo--txt--color);
        text-indent: 0.5em;
        padding: 0;
        margin: 0;
        float: right;
        padding-top:0.5em;
    }
    
 /* Heading style */
 h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: var(--heading--txt--color);
    letter-spacing: 2px;
    text-shadow: 0 2px 4px rgba(1, 27, 14, 0.329);
    transition: color 0.3s ease-in-out; /* Adding transition for smooth hover effect */
}

/* Heading hover effect */
h1:hover {
    color: #0b8831; /* Changing text color to a different shade on hover */
}

  
  /* Navigation bar styles */
  .navigation-bar {
    top: 0;
    right: 0;
    width: 30%;
    display: flex;
    align-items: center;
  }
  
  /* Navigation links styles */
  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-links a {
    display: block;
    padding: 10px;
    color: #a9d6f5;
    text-decoration: none;
    border: 1px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    border-bottom: 1px solid #046d2e;
    color: #06ffb4;
  }
  
  

  /* Reduce header height to 5vh on scroll */
   header.scrolled {
    height: 5vh;
  }
  
  /* Main content styles */
  main {
    width: 100%;
    height: var(--main-page-height);
    margin-top: var(--header-height);
  }
  
  .main-content {
    width: 100%;
    background-color: var(--color-secondary);
    box-shadow: 0 2px 6px var(--color-shadow);
  }
  

  
  /* Footer container */
  footer {
    background-color: var(--color-footer);
    color: var(--footer-text-color);
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  /* Contacts section on the left */
  .contacts {
    width: 50%;
  }
  
  /* Contact details */
  .contact-details {
    font-size: var(--footer-font-size);
  }
  
  /* Footer links section on the right */
  .footer-links {
    width: 50%;
    text-align: right;
  }
  
  /* Footer links */
  .footer-link {
    color: var(--footer-text-color);
    font-size: var(--footer-font-size);
    margin-left: 10px;
    text-decoration: none;
  }
  
  /* Footer links hover effect */
  .footer-link:hover {
    color: #ccc;
  }
  