* {
    box-sizing: border-box;
    margin: 0;
    padding: auto;
}
body, html {
    height: 100vh;
    overflow: hidden;
    color: rgb(49, 76, 110);
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    display: grid;
    grid-template-columns: 20% 80%;
}
.side-content {
    height: 100vh;
    background-color: #0a1e24ef;
}
.main-content {
    height: 100vh;
    background-color: #0a1e24;
}
header {
    padding: 1vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: start;
}
.logo {
    height: 3vh;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p {
    font-size: 0.1em;
    color:rgb(4, 236, 236);
}
header h1 {
    text-align: center;
    width: fit-content;
    font-size: 1em;
    margin: 0;
    padding: 0;
    width: 70%;
    color: rgb(43, 77, 133);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 1vh;
}
.menu-container button {
    background-color: transparent;
    border: none;
    padding: 1px;
}
.menu-container button:hover {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.178);
    cursor: pointer;
}

.side-menu-container {
    display: none;
    background-color: #0a1e24ef;
    position: absolute;
    width: 19%;
    height: 10%;
    padding: 1em;
    color: aquamarine;
    margin-left: 0.5%;
    transition: width 3s ease-in-out;
}
.side-menu-container:hover {
    height: fit-content;
}
ul {
    list-style-type: none;
    
}
li {
    padding: 2vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.76);
    cursor: pointer;
}
li:hover {
    background-color: rgba(9, 122, 84, 0.13);
    color: rgb(10, 219, 115);
}
