* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color: #bdc2c1;
}


/* the side bar of the page */
.sidebar {
    width: 100%;
    padding: 20px;
    color: #4cadad;
}

.sidebar h2 {
    margin-top: 0;
    color: #4e8a8a;
}

.sidebar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu li a {
    text-decoration: none;
    color: #4e8a8a;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.sidebar-menu li a:hover {
    background-color: #ddd;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    background-color: #03394970;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7L0.576704 0.573733L11.4233 0.573732L6 7Z' fill='%23000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 5px center;
}

button[type="submit"] {
    background-color: #182e4e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #555;
}
/* select element styling */
.form-group select {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #555;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* hover and focus styles for the select element */
.form-group select:hover, select:focus {
  outline: none;
  border-color: #000000;
}

/* styling for the select element options */
.form-group select option {
  background-color: #02202eec;
  color: #5a8582;
  padding: 10px;
}

/* the main part of the page */
.main-content-container {
  padding: 10vh 15px;
}

.heading-container {
  top: 0;
  height: 8vh;
  display: grid;
  grid-template-columns: 50% 40% 10%;
  padding: 0 20px;
  position: fixed;
  width: 80%;
  background-color: #02161dee;
  z-index: 100;
}
.heading-container h1 {
  font-size: 1.5em;
  padding: 15px;
  color: #0c8d8d;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
 button {
  background-color: transparent;
}
.btn {
  border: none;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  color: #0c8d8d;
}

.btn:hover {
  background-color: #0c8d8d;
  color: #FFFFFF;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.btn-all,
.btn-songs,
.btn-music,
.btn-album ,
.btn-latest {
  border: 1px solid #0c8d8d;
}
.account-details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.account-details img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid blue;
}

/* Album Cards */
.album-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
}

.album-card {
  border-radius: 10px;
  overflow: hidden;
  background-color: #555;
  box-shadow: 2px 2px 4px rgba(23, 31, 36, 0.562), 2px 2px 4px rgba(22, 27, 32, 0.568);
  height: 25vh;
  display: grid;
  grid-template-rows:70% 15% 15%;
}
.album-card:hover {
  cursor: pointer;
  scale: 1.03;
}
.album-card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.album-card button {
  display: none;
  width: 35px;
  position: fixed;
  height: auto;
  border-radius: 50%;
  bottom: 10px;
  right: 15px;
}
.album-card:hover button{
  display: block;
}
.main-content-container h1 {
  font-size: 1.1em;
  padding: 1em;
  padding-top: 0;
}
.main-content-container > div h2 {
 
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding:10px;
    color: #752271;
}
.album-card h3 {
  font-size: 1.2rem;
  padding: 5px 15px;
  background-color: #180114b2;
  color: #a2a5aa;
}
.album-card p {
 padding: 5px 15px;
 background-color: #180114b2;
  color: #b1b3b4;
}
/* Songs List */
.songs-list-container {
  margin-top: 2rem;
  padding-top: 1rem;
}
.song-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song-list li {
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
   border-bottom: 1px solid rgba(128, 128, 128, 0.014);
   grid-template-columns: 22% 23% 22% 23% 10%;
}


.song-list li:hover {
  background-color: #02212ec4;
  scale: 0.99;
}
.song-list li:first-child:hover {
  background-color: transparent;
  scale: 1;
  cursor: text;
}

.song-title,
.song-artist,
.song-duration,
.song-listens {
  flex: 1;
  margin-right: 10px;
  color: #949090;
}

.play-button {
  border: none;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
}

.play-button:hover {
  background-color: #666;
}

@media screen and (max-width: 768px) {
  .song-list li {
    flex-wrap: wrap;
  }

  .song-list li div {
    flex-basis: 100%;
    margin-bottom: 5px;
  }

  .play-button {
    flex-basis: 100%;
  }
}



/* Artists */
.artists-container {
  margin-top: 2rem;
  padding-top: 1rem;
}


.artist {
  display: inline-block;
  margin-right: 2rem;
  text-align: center;
  width: 20%;
  min-width: 100px;
}

.artist img {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid blue;
}

.artist h4 {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
}

.song-player {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80%;
  background-color: #011324f5;
  border-top: 1px solid #03102c79;
  z-index: 999;
  height: 10vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20% 80%;
}

.song-info {
  display: flex;
  align-items: center;
  justify-content: start;
}

.song-info img {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  margin: 10px;
  border: 1px solid blue;
}

.song-details {
  display: flex;
  flex-direction: column;
}

.song-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.song-artist {
  font-size: 14px;
  color: #666;
}
.song-playing {
  display: grid;
  grid-template-rows: 30% 70%;

}
.song-progress {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  
}

.progress-bar {
  height: 50%;
  background-color: rgb(71, 4, 55);
  width: 70%;
  border-radius: 10px;
  margin: 3px 10px;
}
.song-controls {
  display: flex;
  justify-content:center;
  align-items: center;
}
.song-controls button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 100px;
  font-size: 16px;
  color: #666666;
}

.song-controls button:hover {
  color: #f00;
}

.fav-btn {
  margin-right: 0;
  font-size: 20px;
  color: #f00;
}
