*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(1, 51, 44, 0.966), rgba(2, 43, 59, 0.918));
   
}
.song-image img{

}

.song {
    background-color: rgba(15, 17, 16, 0.801);
    box-shadow: 0 4px 6px rgba(2, 51, 35, 0.781), 0 1px 3px rgba(2, 19, 53, 0.747);
    height: 95vh;
    border-radius: 10px;
    width: 95%;
    display: grid;
    grid-template-rows: 80% 20%;
}

.details {
    background-color: rgba(34, 30, 30, 0.308);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-container {
    height: 100%;
    width: 70%;
    display: grid;
    grid-template-rows: 90% 10%;
}
.details-container img{
    border-radius: 10px;
    width:auto;
    max-width: 100%;
    width: auto;
    height: 90%;
}
.details-container > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls {
  
    display: grid;
    grid-template-rows: 50% 50%;
}
.song-progress {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    padding: 3vh;
}
.song-progress p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(238, 245, 244);
}

.progress-bar {
    width: 100%;
    height: 0.8vh;
    border-radius: 2px;
    margin-top: 0.5em;
    background-color: rgb(43, 97, 70);
}
.progress-bar:hover{
    height: 1vh;
    background-color: rgba(27, 70, 36, 0.849);
}
.controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.controls-grid {
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.controls-grid > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls-container button {
    background-color: transparent;
    border: none;
    padding: 2px;
}
.controls-container button:hover {
    scale: 1.1;
    border-radius: 10px;
    border: 1px solid rgba(1, 39, 11, 0.541);
}