<link rel="stylesheet" href="/static/css/index.css">

<div class="header-content">
    <div class="sign-in-button">
        <button>sign in</button>
    </div>
</div>

<div class="page">
    <div class="registration-container">
        <form method="post" action="" id="registration">
            <div class="heading">
                <h1>Create an account on upcoming.ai</h1>
            </div>
            <div class="inputs-container">
                <label for="username">Username: </label>
                <input type="text" name="username" placeholder="eg. peter" required>
            </div>
            <div class="inputs-container">
                <label for="email">Email: </label>
                <input type="email" name="email" placeholder="youremail@example.com" required>
            </div>
            <div class="inputs-container">
                <label for="password">Password: </label>
                <input type="password" name="password" placeholder="eg. #$%$fxfgf56" required>
            </div>
            <div class="warning">
                <p id="error-message"></p>
            </div>
            <div class="inputs-container">
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/registration.js" defer></script>
