<link rel="stylesheet" href="/static/css/music.css">
<div class="music-page">
    <div class="music-grid">
        <div class="music-item">
          <img src="/static/img/music-bg.jpg" width="100%" height="auto" alt="Album Cover">
          <h3>Song Title</h3>
          <p>Artist Name</p>
          <button class="play-button"><i class="fa fa-play"></i></button>
        </div>
        <div class="music-item">
          <img src="/static/img/music-bg.jpg" width="100%" height="auto" alt="Album Cover">
          <h3>Song Title</h3>
          <p>Artist Name</p>
          <button class="play-button"><i class="fa fa-play"></i></button>
        </div>
        <div class="music-item">
          <img src="/static/img/dark-background.jpg" width="100%" height="auto" alt="Album Cover">
          <h3>Song Title</h3>
          <p>Artist Name</p>
          <button class="play-button"></button>
        </div>
      </div>
      
</div>