

<link rel="stylesheet" href="/static/css/record.css">

<div class="recording-page">
    <div class="top-continer">
        <div class="lyrics-container">
            Oh, I oh, I oh, I oh, I <br>
            I'm in love with your body<br>
            Oh, I oh, I oh, I oh, I<br>
            I'm in love with your body<br>
            Oh, I oh, I oh, I oh, I<br>
            I'm in love with your body<br>
            Every day, discovering something brand new<br>
            I'm in love with the shape of you<br>
        </div>

        <div class="effects-container">

        </div>
    </div>

    <div class="wave-container">
        vVVVVVVVVVV <br>
        vvvvvvvvvvvvvVVVvvvvVVVvvvVVVvvVVvvVvvVv
    </div>

    <div class="progress-container">
        <div class="vocal"></div>
        <div class="beat"></div>
    </div>

    <div class="controls-container">
        <div id="recordBtnContainer">
            <button id="recordBtn">Record</button>
            <progress id="progressBar" max="100" value="0"></progress>
            <button id="stopBtn">Stop</button>
          </div>
          <div id="playBtnContainer">
            <button id="playBtn">Play</button>
          </div>
          <audio id="audioPlayer" controls></audio>
    </div>
    <script src="/static/js/record.js"></script>
</div>