{% extends "master.html" %}
{% load static %}
{% block title %}Developer Options{% endblock %}
{% block heading %}Developer Options{% endblock %}
{% block content %}
<section class="api-box">
    <h2>API Key Generator</h2>

    <form id="apiKeyForm">
        <label for="apiKey">Generated API Key:</label>
        <input type="text" id="apiKey" readonly>
        <div class="api-buttons">
          <button type="button" class="copy-button" onclick="copyApiKey()">
            <span class="copy-icon">📋</span> <!-- Clipboard icon -->
            Copy API Key
          </button>

           <input value="Generate" type="submit"></input>
        </div>
    </form>
</section>
<script>
   function generateApiKey() {
    const apiKeyLength = 500; // Choose the desired length for your API key
    const apiKey = Math.random().toString(36).substr(2, apiKeyLength);
    document.getElementById('apiKey').value = apiKey;
}


    function copyApiKey() {
        const apiKeyInput = document.getElementById('apiKey');
        apiKeyInput.select();
        document.execCommand('copy');

        const copyButton = document.querySelector('.copy-button');
        copyButton.innerHTML = '<span class="copy-icon">✅</span> Copied';
    }

    document.addEventListener("DOMContentLoaded", function () {
        generateApiKey(); // Generate an API key when the page loads
    });
</script>
{% endblock %}
{% block static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/developers.css' %}">
{% endblock static %}
