.register-page {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
}

.header-content {
    display: grid;
    grid-template-columns: 90% 10%;
}

.header-content > div {
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.register-page button {
    background-color: green;
    border: none;
    padding: 1em 3em;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(19, 223, 155);
    font-weight: bold;
}

.sign-in button {
    background-color: transparent;
    border: none;
    border: 3px solid rgb(11, 145, 100);
}

.register-page button:hover {
    background-color: rgb(127, 151, 145);
}

form {
    width: 40%;
    height: 80%;
    margin-bottom: 10%;
}

form > div {
    margin: auto;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    border: none;
    border: 3px solid rgba(3, 80, 54, 0.568);
    padding: 1em;
    border-radius: 5px;
    width: 80%;
}

form label {
    font-size: 1.2em;
    color: rgb(11, 145, 100);
    font-weight: bold;
}

.inputs-container{
    justify-content: space-between;
}