{% extends 'master.html' %}
{% block title %}About Upcoming{% endblock %}
{% block heading %}About Us{% endblock %}
{% load static %}
{% block static %}
	<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
      <div class="main-content">
		<h2>About Upcoming</h2>
		<p>Upcoming is an app designed to help upcoming artists record their songs and get feedback about their quality. Additionally, they can view lyrics and listen to songs posted by other upcoming artists.</p>
		<h2>Features</h2>
		<ul>
			<li>Record your songs using our built-in recording software.</li>
			<li>Get feedback about the quality of your songs from other upcoming artists.</li>
			<li>View lyrics for your songs and others'.</li>
			<li>Listen to songs posted by other upcoming artists.</li>
		</ul>
		<h2>Why Use Upcoming?</h2>
		<p>Upcoming is the perfect platform for upcoming artists to showcase their talents and receive feedback from their peers. With our easy-to-use software and extensive features, Upcoming is the ultimate destination for those looking to improve their music and network with other artists.</p>
    </div>
{% endblock %}

