{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'uia-icon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="/static/js/master.js" defer></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'uia-icon.svg' %}" alt="logo" width="30vw"><p>upcoming.ai</p>
        </div>
        <div class="page-heading">
        <div class="heading">
           <h1> page heading </h1>
        </div>
        </div>
        <div class="page-links">
            <nav class="navigation-bar">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="users/">artists</a></li>
                    <li><a href="#">Record</a></li>
                    <li><a href="latest/">latest</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">About</a></li>
                </ul>
              </nav>
        </div>
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main> 
</body>
</html>