{% load static %}

{% block songs %}
<div class="songs-list-container">
    <h2>Songs Today</h2>
    <ul class="song-list">
        <li>
            <div class="song-image">#</div> 
            <div class="song-title">Title</div>
            <div class="song-artist-h">Artist</div>
            <div class="song-listens-h">Streams</div>
            <div class="song-duration">Duration</div>
            <div></div>
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?guitarist" alt="photo"></div> 
            <div class="song-title"><h3>Kata</h3></div>
            <div class="song-artist">Diamond Platnumz</div>
            <div class="song-listens">5,065</div>
            <div class="song-duration">3:30</div>
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
        <li class="song-item">
            <div class="song-image"><img class="small-image" src="https://source.unsplash.com/random/400x400/?guitarist" alt="photo"></div> 
            <div class="song-title"><h3>Utaniua</h3></div>
            <div class="song-artist">Zuchu</div>
            <div class="song-listens">105,065</div>
            <div class="song-duration">2:54</div>
            <button class="play-song play-button"><img src="{% static 'img/play-icon.svg' %}" alt="play" width="25vw"></button>    
        </li>
    </ul>
</div>

{% endblock songs %}
