{% load static %}

{% block artists %}
<div class="artists-container">
  <div class="artists-heading">
    <h2>Best Artists</h2>
  </div>
  <div class="card-container artists">
      <div class="card artist">
        <img class="artist-image" src="https://source.unsplash.com/random/400x400/?person" alt="Artist Profile Picture">
        <h4>Nadia Mukami</h4>
      </div>
      <div class="card artist">
        <img class="artist-image" src="https://source.unsplash.com/random/400x400/?singer" alt="Artist Profile Picture">
        <h4>Zuchu</h4>
      </div>
      <div class="card artist">
        <img class="artist-image" src="https://source.unsplash.com/random/400x400/?musician" alt="Artist Profile Picture">
        <h4>Justin Beiber</h4>
      </div>
      <div class="card artist">
        <img class="artist-image" src="https://source.unsplash.com/random/400x400/?guitarist" alt="Artist Profile Picture">
        <h4>Alidante</h4>
      </div>
      <div class="card artist">
          <img class="artist-image" src="https://source.unsplash.com/random/400x400/?boy" alt="Artist Profile Picture">
          <h4>New Boy</h4>
        </div>
  </div>
</div>
{% endblock artists %}