{% extends 'base.html' %}

{% load static %}


{% block title %}Listen To Music {% endblock %}

{% block sidebar %}
<div class="sidebar">
  <div class="navigation">
    <a href="/"><img src="{% static 'img/home-icon.svg' %}" width="15vw" alt="next">Home</a>
    <a href="/record"><img src="{% static 'img/record-icon.svg' %}" width="15vw" alt="next">Record</a>
    <a href="#"><img src="{% static 'img/beat-icon.svg' %}" width="15vw" alt="next">Beats</a>
  </div>  
  <div class="group-heading">
    <h3>Playlists</h3>
    <div class="btns">
      <button class="cartegory btn-album">Albums</button>
      <button class="cartegory btn-music">Playlists</button>
      <button class="cartegory btn-music">Genres</button>
    </div>
  </div>
  <div class="group-list">
    <ul class="content-list">
      <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?hiphop">Hip Hop</li>
      <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?rnb">RnB</li>
      <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?blues">blues</li>
      <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?rap">Rap</li>
      <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?Reggea">Reggea</li>
      <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?Gospels">Gospels</li>
      <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?Classics">Classics</li>
    </ul>
  </div>
</div>

{% endblock %}

{% block content %}
  <div class="main-content-container">
    <div class="heading-container">
      <div class="main-heading">
        <h1>Diamond plutnumz new songs that you will</h1>
      </div>
      <div class="button-container">
        <button class="btn btn-all">All</button>
        <button class="btn btn-songs">Songs</button>
        <button class="btn btn-album">Albums</button>
        <button class="btn btn-music">Music</button>
        <button class="btn btn-music">Artists</button>
        <button class="btn btn-latest">Latest</button>
      </div>
      <div class="account-details">
        <img class="account-image" src="https://source.unsplash.com/random/400x400/?guitarist">
      </div>
    </div>

      {% include 'music-albums.html' %}
      {% include 'music-songs.html' %}
      {% include 'music-artists.html' %}
      {% include 'now-playing.html' %}
      
    
      {% block albums %}
      {% endblock albums %}

      {% block songs %}
      {% endblock songs %}

      {% block artists %}
      {% endblock artists %}

      {% block now-playing %}
      {% endblock now-playing %}

  </div>
{% endblock content %}

{% block static %}
  <link rel="stylesheet" href=" {% static '/css/music.css' %}">
  <link rel="stylesheet" href=" {% static '/css/albums.css' %}">
  <link rel="stylesheet" href=" {% static '/css/music-artists.css' %}">
  <link rel="stylesheet" href=" {% static '/css/now-playing.css' %}">
  <link rel="stylesheet" href=" {% static '/css/songs.css' %}">
  <script src="{% static 'js/music.js' %}"></script>
{% endblock static %}
