{% load static %}

{% block now-playing %}
    <div class="song-player">
        <div class="song-info">
        <img src="https://source.unsplash.com/random/400x400/?musician"  width="20vw">
        <div class="song-details">
            <div class="song-name">Dance With Me</div>
            <div class="song-artist">Alidante</div>
        </div>
        </div>
        <div class="song-playing">
        <div class="song-progress">
            <div class="current-time">0:00</div>
            <div class="progress-bar"></div>
            <div class="total-time">4:30</div>
        </div>
        <div class="song-controls">
            <button title="like" class="fav-btn"><i class="fas fa-heart"></i></button>
            <button title="previous" class="prev-btn"><i class="fas fa-step-backward"></i></button>
            <button title="play" class="play-btn"><i class="fas fa-play"></i></button>
            <button title="next" class="next-btn"><i class="fas fa-step-forward"></i></button>
            <a href="player/"><button title="maximize" class="maximize-btn"><i class="fas fa-expand"></i></button></a>
        </div>
        </div>
        <div class="song-volume">
            <div class="volume-container">
                <input class="volume-control" type="range">
            </div>
            <button><i class="fas fa-volume-up"></i></button>
            <div class="buttons">
                <button title="lyrics" class="play-btn"><i class="fas fa-music"></i></button>
                <button title="equalizer" class="next-btn"><i class="fas fa-sliders-h"></i></button>
            </div>
        </div>
        </div>
    </div>
{% endblock now-playing %}
