{% extends 'base.html' %}

{% load static %}
{% block static %}
  <link rel="stylesheet" href=" {% static '/css/record.css' %}">
  <link rel="stylesheet" href=" {% static '/css/record-effects.css' %}">
  <script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.min.js"></script>
  <script src=" {% static '/js/record.js' %}"></script>
{% endblock static %}

{%block title %} Create Music {% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div class="navigation">
        <a href="/"><img src="{% static 'img/home-icon.svg' %}" width="15vw">Home</a>
        <a href="/music"><img src="{% static 'img/record-icon.svg' %}" width="15vw">Music</a>
        <a href="#"><img src="{% static 'img/beat-icon.svg' %}" width="15vw">Beats</a>
      </div>
      <div class="group-heading">
        <h3>My Songs</h3>
        <div class="btns">
            <button class="cartegory btn-album">Albums</button>
            <button class="cartegory btn-music">Music</button>
            <button class="cartegory btn-music">Artists</button>
        </div>
      </div>
      <div class="group-list">
        <ul class="content-list">
            <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?Vampires">Vampires Love</li>
            <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?cute girl">Manserera</li>
            <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?happiness">Happy</li>
            <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?dance">Dance with You</li>
            <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?home">This is Home</li>
            <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?king">King ping</li>
            <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?rapper">Mchezo</li>
            <li><img class="small-image" src="https://source.unsplash.com/random/400x400/?hiphop">Wishes ishes</li>
        </ul>
      </div> 
  </div>
  
{% endblock %}

{% block content %}
<div class="recording-page">
    <div class="top-continer">
        <div class="container-card lyrics-container">
        </div>
        <div class="container-card effects-container">
            <div class="effect-container">
            </div>
            <div class="effect-type">
                <button><img src="{% static 'img/add-icon.svg' %}" width="15vw"></button>
                <button><img src="{% static 'img/music-icon.svg' %}" width="15vw"></button>
                <button><img src="{% static 'img/voice-icon.svg' %}" width="15vw"></button>
                <button><img src="{% static 'img/headset-icon.svg' %}" width="15vw"></button>
                <button><img src="{% static 'img/sound-icon.svg' %}" width="15vw"></button>
                <button><img src="{% static 'img/vocal-icon.svg' %}" width="15vw"></button>
                <button><img src="{% static 'img/equalizer-icon.svg' %}" width="15vw"></button>
            </div>
        </div>
    </div>
    <div class="container-card audio-container">
    </div>
    <div class="container-card controls-container">
        <div class="vocal-info">
            <p>No vocal recording</p>
        </div>
        <div class="control-buttons">
            <button><img src="{% static 'img/left-icon.svg' %}" width="20vw"></button>
            <button> <img src="{% static 'img/undo-icon.svg' %}" width="20vw"></button>
            <button><img src="{% static 'img/prev-icon.svg' %}" width="25vw"></button>
            <button><img id="play-button" src="{% static 'img/play-icon.svg' %}" width="30vw"></button>
            <button><img src="{% static 'img/next-icon.svg' %}" width="25vw"></button>
            <button><img src="{% static 'img/redo-icon.svg' %}" width="20vw"></button>
            <button><img src="{% static 'img/right-icon.svg' %}" width="20vw"></button>
        </div>
        <div class="beat-info">
            <p>No beat selected</p>
        </div>
    </div>
</div>
{% endblock %}

