{% load static %}

{% block songs %}
<div class="songs-list-container">
    <h2>Songs Today</h2>
    <ul class="song-list">
        <li>
            <div class="song-title">Song Title:</div>
            <div class="song-artist">Artist Name:</div>
            <div class="song-duration">Duration:</div>
            <div class="song-listens">Listens:</div>
            <div></div>
        </li>
        <li>
            <div class="song-title">Kata</div>
            <div class="song-artist">Diamond Platnumz</div>
            <div class="song-duration">3:30</div>
            <div class="song-listens">5065</div>
            <button class="play-button"><img src="{% static 'play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </li>
        <li>
            <div class="song-title">Kazi Iendelee</div>
            <div class="song-artist">Rayvanny</div>
            <div class="song-duration">3:45</div>
            <div class="song-listens">3245</div>
            <button class="play-button"><img src="{% static 'play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </li>
        <li>
            <div class="song-title">Nikune</div>
            <div class="song-artist">Sauti Sol</div>
            <div class="song-duration">4:20</div>
            <div class="song-listens">1298</div>
            <button class="play-button"><img src="{% static 'play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </li>
        <li>
            <div class="song-title">Moyo Wangu</div>
            <div class="song-artist">Diamond Platnumz</div>
            <div class="song-duration">3:20</div>
            <div class="song-listens">150000</div>
            <button class="play-button"><img src="{% static 'play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </li>
        <li>
            <div class="song-title">Kanyaga</div>
            <div class="song-artist">Diamond Platnumz</div>
            <div class="song-duration">3:45</div>
            <div class="song-listens">100065</div>
            <button class="play-button"><img src="{% static 'play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </li>
        <li>
            <div class="song-title">Tetema</div>
            <div class="song-artist">Rayvanny ft. Diamond Platnumz</div>
            <div class="song-duration">2:29</div>
            <div class="song-listens">50000</div>
            <button class="play-button"><img src="{% static 'play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </li>
        <li>
            <div class="song-title">Jeje</div>
            <div class="song-artist">Diamond Platnumz</div>
            <div class="song-duration">3:18</div>
            <div class="song-listens">876543</div>
            <button class="play-button"><img src="{% static 'play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
            
        </li>
        <li>
            <div class="song-title">Zuena</div>
            <div class="song-artist">Marioo</div>
            <div class="song-duration">3:42</div>
            <div class="song-listens">54321</div>
            <button class="play-button"><img src="{% static 'play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </li>
        <li>
            <div class="song-title">Tepete</div>
            <div class="song-artist">Rayvanny ft. Diamond Platnumz</div>
            <div class="song-duration">3:57</div>
            <div class="song-listens">4321</div>
            <button class="play-button"><img src="{% static 'play-icon.svg' %}" width="35vw" alt="Album Cover"></button>
        </li>
    </ul>
</div>

{% endblock songs %}