<link rel="stylesheet" href="/static/css/music.css">
<div class="music-page">
    <div class="navigation-grid">
      <div class="search-container">
        <form action="#">
          <input type="text" placeholder="Search...">
          <button type="submit">Q</button>
        </form>
      </div>
      <div class="music-typelist">
        <div class="genre">
          <img src="/static/img/music-bg.jpg" alt="album-cover" width="35vw" height="auto">
          <Strong>Genre name</Strong>
        </div>
      </div>
    </div>

    <div class="music-grid">
        <div class="music-item">
          <img src="/static/img/music-bg.jpg" width="100%" height="auto" alt="Album Cover">
          <h3>Song Title</h3>
          <p>Artist Name</p>
          <button class="play-button"><i class="fa fa-play"></i></button>
        </div>
        <div class="music-item">
          <img src="/static/img/music-bg.jpg" width="100%" height="auto" alt="Album Cover">
          <h3>Song Title</h3>
          <p>Artist Name</p>
          <button class="play-button"><i class="fa fa-play"></i></button>
        </div>
        <div class="music-item">
          <img src="/static/img/dark-background.jpg" width="100%" height="auto" alt="Album Cover">
          <h3>Song Title</h3>
          <p>Artist Name</p>
          <button class="play-button"></button>
        </div>
        <div class="music-item">
          <img src="/static/img/dark-background.jpg" width="100%" height="auto" alt="Album Cover">
          <h3>Song Title</h3>
          <p>Artist Name</p>
          <button class="play-button"></button>
        </div>
      </div>
</div>