{% load static %}

{% block artists %}
<div class="artists-container">
    <h2>Best Artists</h2>
    <div class="artist">
      <img src="https://source.unsplash.com/random/400x400/?person" alt="Artist Profile Picture">
      <h3>Nadia Mukami</h3>
    </div>
    <div class="artist">
      <img src="https://source.unsplash.com/random/400x400/?singer" alt="Artist Profile Picture">
      <h3>Zuchu</h3>
    </div>
    <div class="artist">
      <img src="https://source.unsplash.com/random/400x400/?musician" alt="Artist Profile Picture">
      <h3>Justin Beiber</h3>
    </div>
    <div class="artist">
      <img src="https://source.unsplash.com/random/400x400/?guitarist" alt="Artist Profile Picture">
      <h3>Alidante</h3>
    </div>
    <div class="artist">
        <img src="https://source.unsplash.com/random/400x400/?boy" alt="Artist Profile Picture">
        <h3>New Boy</h3>
      </div>
</div>
<div class="artists-container">
    <h2>Kenyan Upcoming Stars</h2>
    <div class="artist">
        <img src="https://source.unsplash.com/random/400x400/?artist" alt="Artist Profile Picture">
        <h3>Diamond Pltnmz</h3>
    </div>
    <div class="artist">
        <img src="https://source.unsplash.com/random/400x400/?pianist" alt="Artist Profile Picture">
        <h3>Rayvanny</h3>
    </div>
    <div class="artist">
        <img src="https://source.unsplash.com/random/400x400/?guitar" alt="Artist Profile Picture">
        <h3>Harmonize</h3>
    </div>
    <div class="artist">
        <img src="https://source.unsplash.com/random/400x400/?music" alt="Artist Profile Picture">
        <h3>Ali Kiba</h3>
    </div>
    <div class="artist">
        <img src="https://source.unsplash.com/random/400x400/?song" alt="Artist Profile Picture">
        <h3>Kamaru</h3>
    </div>
</div>

{% endblock artists %}